Privacy considerations section needed?

I think we should provide a 'privacy considerations' section for HEIF. Among the matters to discuss are at least these two.

1. The obvious comment about metadata; the privacy leaks due to EXIF data are famous, and we support rich metadata.
2. Less obviously, the client-side transforms may mislead authors or users. For example, a cropped image using 'clap' or an overlay may appear to a user to be OK to forward to someone else as it doesn't show e.g. a person who ought not to be revealed. But the base image is there in full in the file; only the cropping or overlaying has 'hidden' the sensitive parts.

Some have suggested that such non-destructive client-side operations should be removed, for this reason. But overlay and crop have valid cases, and I fear that if we remove them, people will simply re-invent them. I think we'll get stronger convergence and better privacy handling if we keep them but explain.

What else should go into privacy considerations? I suspect something about object and face detection, for example?

Things in the HEIF spec that should probably have some kind of privacy considerations section:
1. EXIF metadata. GPS coordinates in particular can be very problematic.
2. XMP metadata. Can contain pretty much anything, in clear-text. I think face rects are sometimes stored as XMP.
3. The recently proposed annotated regions can be used for marking and annotating/naming faces in an image. This is also metadata and typically not shown to users.
4. 'clap' transform property. The pixels outside the crop are still there.
5. Alpha may be used to redact information without actually removing the data.
6. Grid derived item may have padding pixels outside of the grid canvas. This should be zeroed out or replicate the edge rather than be actual pixel data.
7. Overlay derived items can paint multiple items on top of other items. The pixel data is still there, but may not end up being shown to user.
8. A HEIF file can contain hidden image items. These are typically used as inputs to grids and overlays, but they don't have to be. These items should not be shown to users, but the pixel data is still there.

All of these can be very problematic when doing edits or sharing images. The ones relating to metadata are problematic in most image formats. An editing application should really be asking a user if the edited image should be cleaned/sanitized when exporting. If the user says yes, the following should be done:
1. EXIF/XMP and other metadata should be either completely removed, or at least minimized to things the editing application understands and considers safe.
2. Items using 'clap' should be re-encoded so that anything outside of the crop region is stripped out.
3. Items that have alpha with zero values (i.e. completely transparent) should be re-encoded so that these pixels are also zeroed out.
4. Grid derived items with padding should have the padding zeroed out and re-encoded if needed.
5. Overlay derived items should be flattened into a single layer and re-encoded as a coded item or grid.
6. Hidden items that are not used as inputs to grids should be stripped.

If we took every feature out of the format that could be misused, there likely would be nothing left. We still need formats that provide useful capabilities, because of the obvious; they're useful.

I generally agree with Leo's thoughts on sharing. Just like in the iPhone ads all over TV right now where systems are making end-users more aware of what they are sharing, we should be making it easy for applications that share imagery to inform let the user be in control of what is shared. But I'm thinking that the recommended default would be to share the sanitized image, with the UI allowing the user to "put back in" elements from the file that they do want to share, based on a set of clear categories of information.

As you've aluded to, I don't think most users are actually aware that when they covered someone's face with an emoji, that the original face is actually still there.

My gut tells me that someone out there must already have a list of categories of sensitive information on which the HEIF (and even ISOBMF) privacy considerations can be based: e.g. Location, Camera Settings, Cropped portions of the image, ...

I completely agree. If we make the tool so blunt then no-one can cut themselves with it, they won't be able to cut their dinner either. 

I'm aware of ad-hoc practices around image metadata but I have not (yet) seen a comprehensive treatment.

I think you are right, the act of sharing or makign available should cause a careful sanitization step to be offered. But there are valid reasons for sharing client-side applied/used information, too, or we wouldn't be writing an interoperable standard that allows that.

HEIF or any image format for that matter certainly imposes a lot of privacy risks on the users. An informative section mentioning some of them like the ones mentioned above sounds useful. But, privacy is something related to the end user and none of the end users will read this spec or its privacy section. It is the responsibility of those who develop the applications to be used by the end users to pay attention to these issues, but then those developers will not read this spec, either. The library/SDK/etc. owner that provides this to the developers will probably need to read these privacy related concerns.

Another example is DASH. DASH formats may or may not cause certain new security risks, but the DASH spec has nothing to do with any security or privacy issue related to HTTP or XML schemas ... They should be discussed in their respective specs, which do not belong to MPEG anyway.

Sure, the privacy and security questions of specs we build on should be documented in those specifications. But the idea that MPEG specs have no privacy or security issues of their own is obviously not tenable.

Agreed, it's not end users we are alerting. In the HEIF case "if you provide a file for public posting or sharing, you should consider stripping metadata, 'cooking down' client-side transforms such as cropping and overlay, and so on"

Do we also need to discuss edge-case situations where (e.g.) a set of images that are alternatives (e.g. thumbnails) actually show different information?

Where an image is one of a timed burst, or is marked as equivalent to a movie, there may be privacy aspects of frames that are not privacy aspects of the 'single still picture', I suppose.

The existing MIME registration has:

`Security considerations: See section 4 of RFC 4337 and section 7 of RFC 6381. This format does not supply integrity or confidentiality protection and so they are applied externally when needed. The security considerations of URLs are discussed in RFC 3986.`

Proposed to be addressed in amendment 2 with advisory text:

# Annex X: Privacy and security considerations

## Security considerations

See section 4 of RFC 4337 and section 7 of RFC 6381. This format does not supply integrity or confidentiality protection and so they are applied externally when needed. The security considerations of URLs are discussed in RFC 3986.

## Privacy considerations

### Overview

Image files can contain data that is not normally shown, but that has privacy implications. When a file is shared, especially when the target audience is unknown or uncontrolled (for example, shared on the public world-wide web) take care that only data that is being intentionally publicly shared remains in the file, and all other such 'hidden data' is removed. 

This data falls into two main types: image data, and other data, especially metadata. 

Ameliorations are best performed by the publisher of the image file.

### Image data

This format supports client-side applied transformations and derived images, and some of these cause image data that _is_ present in the file _not_ to be displayed. In addition, some coding systems support transparency and alpha-blending, and image data that is marked as 'fully transparent' will not normally be visible. 

It is also possible to leave apparently unused image items in files (for example, that were once part of a grid or other composition, but no longer are).

Such hidden image data can be revealing, perhaps by showing the faces of more people, or enabling identification of a location (e.g. a recognizable landmark), or activities being performed, and are therefore a privacy risk. 

The best practice is to zero out or remove such data, perhaps by applying the transformation or derivation during file creation rather than at the client-side, unless there is an explicit desire and intent (verified prior to publishing) to enable the user receiving the file to see such normally-hidden image material.

This format is extensible, so it is not possible to state a complete list. However, the following transformations and derivations in this specification are worthy of note:
* The 'Clean aperture' cropping transformation.
* The cropping of an `ImageGrid` derived item caused by trimming the overall result to the indicated output width and height.
* The use of an overlay derived item, where the overlaid image obscures part of the background image.
* Where an image is selected from a temporal burst, the other images in the sequence can reveal information not present in the image normally chosen for display.

Where transparency (alpha) is used, the best practice is to reduce to a fill color those pixels that correspond to transparent areas of the image, so that if transparency is turned off (or not supported by a client), nothing is revealed.

This format supports storage of multiple image items in the same file. Image items can be alternatives to each other, allowing a player to display only one of the alternative image items. Image items in a file can represent an image collection, i.e. represent different source content. Some players might only be able to display the primary item (or any of its alternatives) and omit displaying of all other image items potentially present in a file. Differences in displaying capabilities could lead to a situation where some image items are not displayed in one player but are displayed in another player. These considerations ought to be applied to each image item in a file, regardless of whether the image item is displayed or not by any particular player.

There are some less common or unusual situations, for example where the image data in a thumbnail or alternative to an image is presenting visual data that is not a scaled version of the image.

### Non-image data including metadata

Like many image formats, this format supports the embedding of metadata in various forms. Unless the metadata is intended for and known to be useful to the audience, it is best to strip it out of the file. This particularly applies to metadata that could reveal identity (e.g. the name of the photographer) or location.

Some metadata and annotations are useful to, or even intended for general audiences, such as the accessibility 'alt text', or an image title. A good practice is to display such retained non-image data to the user who is causing the generation of the file for publication (e.g. by an 'export' operation from their image collection), so that they can verify both its correctness and privacy-safety.

Region annotations can reveal or support private information (e.g. annotations of the location or identity of human faces), and fall within this category. This format supports annotation of regions in image items, when transformations are associated with a region item, some annotated regions may end up outside of the associated image item when the client applies those transformations and therefore they may represent a privacy risk. When that image data is stripped or zeroed, check to see whether there are region annotations that apply to those areas, and strip them also.